/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*APP CSS*/
body {
    font-family:Helvetica,Arial,"sans-serif";
	font-size: 87.5%;  /* equals 10px */
    line-height:1.1;
	background: #EEE;
    color:#333;
}
p {
  font-size: 1.1em;  /* equals 11px */
}
header.contact {
    padding: 22px 0 0;
}
h1 {
	font-size:2.0em;  
	line-height: 1.1;
}
h2.role {
	font-size:1.2em;  
	line-height: 1.1;	
}
h2.resume-title {
	font-size:1.3em;
	line-height: 1.1;
	margin: 10px 0;
}
h2 {
	font-size:1.8em;
	line-height: 1.1;
}
h3 {
	font-size:1.6em;
	line-height: 1.1;
}
h3 {
	font-size:1.4em;
	line-height: 1.1;
}
h4,.h4 {
	font-size:1.3em;
	line-height: 1.1;
}
.clear{
	clear:both;	
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.sitewrapper{
	width:780px;
	margin:0px auto;
	background: #fff;
	padding: 0px 15px 80px ;
	box-shadow: 4px 0px 6px -7px #333, -4px 0px 6px -7px #333;
}	
.alignleft {
	float:left;
}
.alignright {
	float:right;
}
.banner {
    margin-left: 20px;
    margin-top: 2px;
	max-width:430px;
}
a{
	color:#000;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
.socialLinks li .fa{
	margin-right:5px;
	line-height: 1.3;
	min-width: 18px;
}
.keyskills {
    display: inline-block;
	margin-right: 2px;
}
ul.square li {
    list-style-type: square;
    list-style-position: inside;
	line-height: 20px;
	margin-left:20px;
}
.mytable > thead > tr > th, .mytable > tbody > tr > td{
	padding: 8px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #DDD;
	text-align:left;
}
.pt10{
	padding-top:10px;
}
.pb10{
	padding-bottom:10px;
}
.pb20{
	padding-bottom:20px;
}
.pt20{
	padding-top:20px;
}
.mr20{
	margin-right:20px;
}
.minwidth20{
	width: 64px;
	display: inline-block;
}
ul.square li ul li {
    font-size: 92%;
    list-style-type: circle;
    list-style-position: inside;
}
.tcol1{width:118px;}	
.tcol2{width:118px;}	
.tcol3{width:240px;}	
.tcol4{width:100px;}	

.fontstyle{
	font-family:"Arial";
	margin:10px 15px;
}
.listlabel
{
	background-color: #999;
	display: inline;
	padding: 0.2em 0.6em 0.3em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	color: #FFF;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.25em;	
}